{% extends "layout.html" %}
{% block title %}{{ data.pages.adversos.title }}{% endblock %}
{% block body %}
<article>
  <h1>{{ data.pages.adversos.title }}</h1>
{% markdown %}{{ data.pages.adversos.__content }}{% endmarkdown %}
</article>
{% endblock %}
