<!doctype html>
<html class="no-js" lang="{{ page.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="generator" content="waffel">
    {% if options.revision %}
    <meta name="version" content="{{ options.revision }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if config.google_webmaster_tools %}<meta name="google-site-verification" content="{{ config.google_webmaster_tools }}">{% endif %}
    {% block meta %}{% endblock %}
    {% if config.google_fonts %}{% include '_includes/google_fonts.html' %}{% endif %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <meta name="google-site-verification" content="47mvhf8oPdpdkeN0d9SEee_PQAi5stMTL5tuBZaJRrI" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('site.webmanifest') }}">
<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
<meta name="theme-color" content="#ffffff">
  </head>
  <body class="{{ page.name | replace('.', '-') }}">
    {% block layout %}{% endblock %}
    <script src="{{ asset('js/vendor.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script>
        require('initialize')({
          // place options here
          title: '{{ config.title }}'
        });
    </script>
    {% include '_includes/google_analytics.html' %}
  </body>
</html>
