{% extends "layout.html" %}
{% block title %}{{ data.pages.equipe.title }}{% endblock %}
{% block body %}
<article>
  <h1>{{ data.pages.equipe.title }}</h1>
{% markdown %}{{ data.pages.equipe.__content }}{% endmarkdown %}
</article>
{% endblock %}
