{% extends "layout.html" %}
{% block title %}{{config.title}}{% endblock %}

{% block body %}
<h1>{{ t('principal.title') }}</h1>
<p>{{ t('principal.text1') }}</p>
<p>{{ t('principal.text2') }}</p>
<p>{{ t('principal.text3') }}</p>
{% endblock %}
