<footer class="footer text-center container">
  <p class="copyright">&copy; {{ {} | format('YYYY') }} made w/ <a href="http://moonwave99.github.io/waffel" target="_blank">waffel</a> and love.</p>
  <a href="https://gitlab.com/oncologiaped/eventosadversos/commits/master"><img alt="pipeline status" src="https://img.shields.io/gitlab/pipeline/oncologiaped/eventosadversos.svg?color=32eccc" /></a>
</footer>
