<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{{ t('nav.toggle') }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url('home') }}">{{ t('nav.home') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url('about') }}">{{ t('nav.about') }}</a></li>
        <li><a href="{{ url('adversos') }}">{{ t('nav.adversos') }}</a></li>
        <li><a href="{{ url('equipe') }}">{{ t('nav.equipe') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
